/* navbar.module.css */
.navbar {
  display: flex;
  justify-content: center; /* centers the element */
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  box-sizing: border-box;
}

.element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;           
  background-color: hsl(var(--black)/0.2); 
  padding: 10px 20px;    
  border-radius: 10px;  
  border: 1px solid hsl(var(--blue)/0.4);
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.links {
  display: flex;
  gap: 20px;
  color: white;
  cursor: pointer;
}
.link {
  color: white;
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 4px;
  transition: color 0.2s ease;
  cursor: pointer;
}

.link:hover {
  color: hsl(var(--blue)); /* highlight on hover */
  cursor: pointer;
}
